<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<af:iteration-part maxOccurs="0">
	<WW>
		@{af:next}
	</WW>
</af:iteration-part>
<af:cover-username>
<div class="test">
	@{af:username}
</div>
</af:cover-username>

<af:cover-xxx>
<div class="ke smazani">
	@{af:xxx}
</div>
</af:cover-xxx>

<af:cover-www>
<div class="ke smazani">
	BBB @{af:www}
</div>
</af:cover-www>

		some text

<af:iteration-part maxOccurs="2">
<af:cover-next><P>@{af:next}</P></af:cover-next>
<af:cover-next><B>@{af:next}</B></af:cover-next>
</af:iteration-part>


		this follows later
<THEN>@{af:next}</THEN>

<af:iteration-part maxOccurs="3">
<af:cover-next>
	<WW>
		@{af:next}
	</WW>
</af:cover-next>
</af:iteration-part>

<af:cover-rrr>
<div class="ke smazani">
	@{af:rrr} AAAA
</div>
</af:cover-rrr>
<af:iteration-part maxOccurs="3">
<af:cover-next>
	<WW>
		@{af:next}
	</WW>
</af:cover-next>
</af:iteration-part>
