<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:s="http://jboss.com/products/seam/taglib"
	  xmlns:rich="http://richfaces.org/rich"
		>

<!--
Page parameters:

edit
	Whether the item is editable. If false, the item is displayed but is read-only.
	False by default.
id
	The unique identity prefix of the component.
label
	The label that appears as the name of the item.
	Empty by default.
maxValue
	The maximum number that can be selected. Ten billion by default.
minValue
	The minimum number that can be selected. Zero by default.
pattern
	???
rendered
	Whether the component is rendered. True by default.
required
	Whether a value is required for the item. False by default.
size
	???
title
	The tool-tip text. If empty, the value of the label parameter is used instead.
value
	The numerical item or bean field which backs this component.
-->

<head>
	<link rel="stylesheet" href="../../css/style.css"/>
</head>

<body>
<div class="templateComment">
	<p>
		This file is part of AspectFaces.

		This component renders inputNumber and layout in SeamForm
	</p>
</div>
<ui:composition template="/WEB-INF/tags/form/viewEditSwitch.xhtml">

	<ui:define name="edit">
		<s:decorate id="#{id}Decoration" template="/layout/formElement/edit.xhtml">
			<ui:define name="label">#{label}</ui:define>

			<rich:inputNumberSpinner
					ondownclick="validateInputNumber(this,#{empty required ? 'false' : required},#{empty minValue ? '0' : minValue}, #{empty maxValue ? '10000000000' : maxValue} , #{empty pattern ? '\'\'' : pattern},'#{text['client.validator.number']}','#{empty pattern ? '' : text[util:replaceSpaceJSPattern(pattern)]}');"
					onupclick="validateInputNumber(this,#{empty required ? 'false' : required},#{empty minValue ? '0' : minValue}, #{empty maxValue ? '10000000000' : maxValue} , #{empty pattern ? '\'\'' : pattern},'#{text['client.validator.number']}','#{empty pattern ? '' : text[util:replaceSpaceJSPattern(pattern)]}');"
					onblur="validateInputNumber(this,#{empty required ? 'false' : required},#{empty minValue ? '0' : minValue}, #{empty maxValue ? '10000000000' : maxValue} , #{empty pattern ? '\'\'' : pattern},'#{text['client.validator.number']}','#{empty pattern ? '' : text[util:replaceSpaceJSPattern(pattern)]}');"
					value="#{value}"
					title="#{empty title ? label : title}"
					step="#{empty step ? 1 : step}"
					disabled="#{empty edit ? true : not edit}"
					inputSize="#{empty size ? '10' : size}"
					maxValue="#{empty maxValue ? '10000000000' : maxValue}"
					minValue="#{empty minValue ? '0' : minValue}"

					required="#{empty required ? 'false' : required}"
					rendered="#{empty rendered ? 'true' : rendered}"
					id="#{id}">

				<ui:insert/>
			</rich:inputNumberSpinner>
			<rich:toolTip for="#{id}" value="#{empty title ? label : title}"/>
			<!--
				rendered="#{empty rendered ? 'true' : rendered and value ne null}"
			-->
		</s:decorate>
	</ui:define>

</ui:composition>
</body>
</html>
