<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"

	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:s="http://jboss.com/products/seam/taglib"
	  xmlns:util="http://icpc.baylor.edu/facelets/util"
	  xmlns:rich="http://richfaces.org/rich"
		>
<head>
	<link rel="stylesheet" href="../../css/style.css"/>
</head>

<body>
<div class="templateComment">
	<p>
		This file is part of AspectFaces.

		This component renders input and layout in SeamForm
	</p>
</div>
<ui:composition template="/WEB-INF/tags/form/viewEditSwitch.xhtml">

	<ui:define name="edit">
		<s:decorate id="#{id}Decoration" template="/layout/formElement/edit.xhtml">
			<ui:define name="label">#{label}</ui:define>

			<!--
				<h:inputText
					onchange="validateInputDate(this,#{empty required ? 'false' : required},#{empty future ? 'false' : future},#{empty past ? 'false' : past},'#{text['client.validator.date']}');"
					onblur="validateInputDate(this,#{empty required ? 'false' : required},#{empty future ? 'false' : future},#{empty past ? 'false' : past},'#{text['client.validator.date']}');"
					required="#{empty required ? 'false' : required}"
					id="#{id}"
					size="#{empty size ? '20' : size}"
					maxlength="#{empty maxlength ? '50' : maxlength}"
					title="#{empty title ? label : title}"
					value="#{value}">
					<s:convertDateTime pattern="MM/dd/yyyy"/>
					<ui:insert/>
				</h:inputText>
				<s:selectDate for="#{id}" startYear="1910" endYear="2030">
					<img src="#{facesContext.externalContext.requestContextPath}/img/dtpick.gif"/>
				</s:selectDate>
			-->

			<rich:calendar value="#{value}"
						   showApplyButton="false"
						   popup="true"
						   enableManualInput="true"
						   datePattern="MM/dd/yyyy"
						   inputSize="#{empty size ? '10' : size}"
						   required="#{empty required ? 'false' : required}"
						   id="#{id}"
						   title="#{empty title ? label : title}"
						   oninputblur="validateInputDate(this,#{empty required ? 'false' : required},#{empty future ? 'false' : future},#{empty past ? 'false' : past},'#{text['client.validator.date']}');"
						   oncollapse="validateInputDate(this,#{empty required ? 'false' : required},#{empty future ? 'false' : future},#{empty past ? 'false' : past},'#{text['client.validator.date']}');"
					/>
		</s:decorate>
	</ui:define>
	<ui:define name="view">
		<util:outputText value="#{value}" layout="#{layout}" id="#{id}View">
			<s:convertDateTime/>
		</util:outputText>
	</ui:define>
</ui:composition>
</body>

</html>


