<!--
~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
~ All rights reserved.
~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
~
~ This file is part of AspectFaces.
~
~ AspectFaces is free software: you can redistribute it and/or modify
~ it under the terms of the GNU General Public License as published by
~ the Free Software Foundation, either version 3 of the License, or
~ (at your option) any later version.
~
~ Foobar is distributed in the hope that it will be useful,
~ but WITHOUT ANY WARRANTY; without even the implied warranty of
~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~ GNU General Public License for more details.
~
~ You should have received a copy of the GNU General Public License
~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
-->    <!--
	<rich:dragIndicator id="$fieldindicatorPerson$" />
	use <a4j:form ajaxSubmit="true" id="$fieldForm$">
	-->

<s:div id="space" rendered="#{edit}" styleClass="spacer"/>

<util:personDialog id="$field$"
				   entityList="#{$entityManager$.personSimpleList}"
				   manager="#{$entityManager$}"
				   setValue="person"
				   required="$notNull$"
				   rendered="#{empty $fieldRender$ ? 'true' : $fieldRender$}"
				   title="#{text['tooltip.$entityBean.firstToLower$.$field$']}"
				   reRender="$fieldDiv$,#{reRender}"/>

<util:dropBoxText id="$field$"
				  label="#{text['$entityBean.firstToLower$.$field$']}"
				  displayValue="#{$entityManager$.person.personInfo.name}"
				  typeDrop="Person"
				  title="#{text['tooltip.drop.$entityBean.firstToLower$.$field$']}"
				  manager="#{$entityManager$}"
				  rendered="#{empty $fieldRender$ ? 'true' : $fieldRender$}"
				  dropListener="dropPerson"/>
