<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<s:decorate id="$field$Field" template="#{empty template ? '/layout/edit.xhtml' : template}">
	<ui:define name="label">#{messages['model.$entityBean$.$field$']}</ui:define>
	<h:inputText
			id="$field$"
			required="#{$notNull$ and validate}"
			size="#{validate ? $size$ : null}"
			maxlength="#{validate ? $maxLength$ : null}"
			value="#{$value$}">
		<a:support rendered="#{validate}" event="onblur" reRender="$field$Field" bypassUpdates="true" ajaxSingle="true"/>
	</h:inputText>
</s:decorate>
