<!--
  ~ Copyright (C) 2011-2014 CodingCrayons s.r.o.
  ~ All rights reserved.
  ~ Contact: CodingCrayons s.r.o. (info@codingcrayons.com)
  ~
  ~ This file is part of AspectFaces.
  ~
  ~ AspectFaces is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<s:decorate id="$field$Field" template="/layout/edit.xhtml">
	<ui:define name="label">#{messages['model.$entityBean$.$field$']}</ui:define>
	<h:inputSecret
			id="$field$"
			required="#{$notNull$ and validate}"
			size="#{validate ? $size$ : null}"
			maxlength="#{validate ? $maxLength$ : null}"
			value="#{$value$}">
	</h:inputSecret>
</s:decorate>

<s:decorate id="$field$-repeat" template="/layout/edit.xhtml">
<ui:define name="label">Repeat #{messages['model.$entityBean$.$field$']}</ui:define>
<h:inputSecret id="$field$-repeat" size="#{validate ? $size$ : null}">
	<s:validateEquality for="$field$"/>
</h:inputSecret>
</s:decorate>
